@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --gilroy-bold: 'Gilroy-Bold';
    --gilroy-Regular: 'Gilroy-Regular';
    --gilroy-Medium: 'Gilroy-Medium';
    --gilroy-SemiBold: 'Gilroy-SemiBold';
    

    /* Color */

    --orange: #E89F71;
    --dark-green: #3A3A3A;
    --purple: #262F56;
    --grey: #D8D8D8;
    --dark-grey: #616161;


    /* Font Size  */

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}


/* .container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
} */




/* HEADER START */

.header__img{
    width: 100%;
}

.header__nav{
    position: absolute;
    top: 0;
    width: 100%;
}

.header{
    position: relative;
}

.header__nav-hidden{
   display: none;
}


.dropdown-toggle:hover:after{
    transform: rotate(-180deg);
    
}

.nav-link{
    margin-right: 40px;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-green) !important;
   
}
.header__nav-link{
    font-family: var(--gilroy-SemiBold) !important;
}

.navbar-brand{
    margin-right: 100px !important;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    font-family: var(--gilroy-bold);
}

.d-flex{
    width: 473px;
    outline: none !important;

    
}

.form-control{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border: none !important;
    outline: none !important;
    font-size: 14px;
    line-height: 150%;
    font-family: var(--gilroy-Regular) !important;
}

.like{
    margin-right: 0;
    
}
.cart{margin-right: 0;}
.account{
    margin-right: 0;
}

.like::after {
    content: '\f004';
    list-style: none !important;
    
}
.cart::after {
    content: '\f07a';
    list-style: none !important;
}
.account::after {
    content: '\f406';
    list-style: none !important;
}

.nav{
    margin-left: 100px;
}



/* NAV END */



/* HEADER END */

